<nav class="navbar navbar-dark bg-dark justify-content-between" style="height:60px;">
    <a class="navbar-brand pt-0" style="font-size:180%; font-family:cursive; letter-spacing:2px;" href="{{ path('pollList') }}">PollySymf</a>
    <div>
        <a href=""><button class="mr-2 btn btn-light">se connecter</button></a>
        <a href=" {{ path('user_inscription') }}"><button class="mr-2 btn btn-light">s'inscrire</button></a>
    </div>
</nav>